venv
config.py
Course*.csv
__pycache__
Prix*.csv
ProduitACacher.csv
Inventaire.csv
Inventaire_modif.csv
ProduitARecalculer.csv
Course_non_drive.csv
Produit_non_trouve.csv
.env
.vscode
bar.categories.json
bar.items.json